.userRepositories{
    flex: 1;
    padding-bottom: 10px;
}

.userRepositories h1{
    text-align: center;
    color: #fdfdfd;
    margin: 20px 0;
}

.resArea{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0px 30px;
}

@media(max-width: 550px){
    .resArea{
        grid-template-columns: repeat(2, 1fr);
    }
}