.home{
    background-color: #1B2631;
    color: #fdfdfd;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.logoIcon{
    font-size: 3rem;
}

.home h1{
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input{
    border: 1px solid #ccc;
    outline: none;
    border-radius: 20px;
    background: none;
    padding: 10px;
    color: #fff;
}

.form button{
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #16384e;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.form button:hover{
    opacity: .7;
}
